<ul>
    <li class="item"><a href="/voter_dashboard/<%= voter._id %>">DashBoard</a></li>
    <li class="item"><a href="/voter_results/<%= voter._id %>">Results</a></li>
    <li class="item"><a href="/resultgraph/<%= voter._id %>">Results Graphs</a></li>
</ul>