<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Voting System</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../public/Images/addressbarlogo.ico"> -->
    <link rel="stylesheet" href="../CSS/main.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../Images/logo.avif" alt="Voting System">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="#client-section">Our Clients</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
            <li class="item"><a id="loginregister" href="/login">Login/Register</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome to Online Voting System</h1>
        <p><b>"Democracy is based upon the conviction there are extraordinary possibilities in ordinary people."</b></p>
        <p>~ Harry Emerson Fosdick</p>
        <!-- <button class="btn">Order Now</button> -->
    </section>

    <section id="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="../Images/services1.jpg" alt="Voting Process">
                <h2 class="h-secondary center">Voting Process</h2>
                <p class="center">The "Voting Process" section is crucial because it outlines the step-by-step procedure for users to cast their votes. This includes details on how to access the ballot, make selections, and submit votes. It should be clear and user-friendly, minimizing any confusion or barriers for voters. Transparency and simplicity in this process are essential to ensure a smooth and efficient voting experience.</p>
            </div>
            <div class="box">
                <img src="../Images/services2.avif" alt="Security Measures">
                <h2 class="h-secondary center">Security Measures</h2>
                <p class="center">Security is paramount in any online voting system. This section should describe the various security measures in place to protect the integrity of the system. It should include information about encryption protocols, access controls, identity verification, and anti-fraud measures. Explaining these security features helps build trust among users and assures them that their votes will be secure.</p>
            </div>
            <div class="box">
                <img src="../Images/services3.jpg" alt="Result Reporting">
                <h2 class="h-secondary center">Result Reporting</h2>
                <p class="center">The "Result Reporting" section details how the system tabulates, reports, and verifies election results. Transparency in this area is critical for maintaining the credibility of the voting system. It should describe the process by which results are generated, audited, and made available to stakeholders. Accurate and verifiable result reporting is essential for the legitimacy of the electoral process.</p>
            </div>
        </div>
    </section>
    <section id="client-section">
        <h1 class="h-primary center">Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="../Images/client1.avif" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="../Images/client2.avif" alt="Our Client">
            </div>
          
            <div class="client-item">
                <img src="../Images/client3.avif" alt="Our Client">
            </div>
            <div class="client-item">
                <img src="../Images/client4.avif" alt="Our Client">
            </div>
        </div>

    </section>

    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="/" method="post">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="Name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="Email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="Mobile_No" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="Message" id="message" cols="30" rows="10"></textarea>
                </div>
                <div class="btn">
                    <button type="reset">Reset</button>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="center">
            Copyright &copy; www.OnlineVotingSystem.com. All rights reserved!
        </div>
    </footer>
</body>

</html>